*{
    padding: 0px;
    margin:0px;
}
body{

    background-image:url('background-cv-web-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto','Serif';
    width: 100%;
    height:auto;
    padding-bottom: 50px;
    overflow-y: scroll;
}
img{
    width: 15%;
    height: 100%;
}
header{
    width: 100%;
    height: 80px;
    background-image:url('background-cv-web-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
}
h2{
    color:rgb(255,255,255);
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey !important; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey !important; 
  }